apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
  - patch: |
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --requeue-dependency=5s
    target:
      kind: Deployment
      name: "(kustomize-controller|helm-controller)"
  - patch: |
      - op: add
        path: /spec/template/spec/nodeSelector
        value: 
          node-role.kubernetes.io/control-plane: ""
      - op: add
        path: /spec/template/spec/tolerations
        value:
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    target:
      kind: Deployment
